<md-card >
  <div>
    <md-card-title>{{title}}
    </md-card-title>
    <md-card-subtitle >{{repo.provider}}/{{user}}</md-card-subtitle>
  </div>

  <div class="repo_actions">
    <md-spinner *ngIf="spin"></md-spinner>
    <button md-icon-button *ngIf="(!spin && repo.active)" md-button [routerLink]="['/repo', repo.id]" routerLinkActive="active" >
      <md-icon>
        settings
      </md-icon>
    </button>
    <md-slide-toggle disabled="{{spin}}" [checked]="repo.active" (change)="toggle()"></md-slide-toggle>
  </div>
</md-card>
