.toolbar-filler {
  flex: 1 1 auto;
}

.nav-button {
  margin: 7px;
}

.toolbar-title {
  text-decoration: none;
  color: white;
  margin-bottom: 3px;
  margin-right: 23px;
}

.toolbar-icon {
  color: white;
  margin-bottom: 6px;
}

.toolbar-menu {
  display: none;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-center { flex: 3; }
.box-left > span { margin-right: auto; }
.box-right > span { margin-left: auto;  }

app-searchbar{
  width: 100%;
  min-width: 400px;
}

@media screen and (max-width: 868px){
  .nav-button {
    display:none;
  }
  .toolbar-menu {
    display:unset;
  }
}

@media screen and (max-width: 660px){
  .toolbar-title {
    display: none;
  }
  app-searchbar{
    min-width: 100px;
  }
  .box-center{
    flex: 3;
  }
}
